.avater {
  position: absolute;
  right: 30px;
  top: 0px;
}

.ant-avatar {
  width: 40px;
  height: 40px;
  margin:0 10px 6px 0;
}

.close {
  font-size: 20px;
  color: red;
  cursor: pointer;
  margin-left: 6px;
}
